/* Dashboard */

/* Dashboard -> Filters */
.filters-container {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
  width: 100%;
  margin: -10px;
  padding: 0px 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.page-details {
  padding: 15px 0px;
}
.filters-wrapper {
  border-radius: 5px;
  display: flex;
}

.total-count {
  font-weight: bold;
  font-size: 1rem;
}

.filter-options {
  width: 12rem;
  border-radius: 5px;
  position: absolute;
  background: white;
  top: 40px;
  right: 10px;
  padding: 20px;
  z-index: 1;
  box-shadow: -2px 5px 10px rgba(0, 0, 0, 0.5);
}

.filter-input {
  margin-bottom: 15px;
}

.filter-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.filter-button {
  background-color: transparent;
  color: #4caf50;
  border: none;
  cursor: pointer;
}

.apply-button {
  background-color: #4caf50; /* Choose a color that matches your theme */
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;

  &:hover {
    background-color: #45a049; /* Change the color on hover */
  }
}

/* Add these styles to your existing CSS */

/* Dashboard -> Filters */
.filter-input input,
.filter-input select {
  width: -webkit-fill-available;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 5px;
}

.filter-input select {
  cursor: pointer;
}

.filter-input select:hover,
.filter-input select:focus,
.filter-input input:hover,
.filter-input input:focus {
  outline: none;
  border-color: #45a049; /* Change the border color on hover and focus */
}

/* Dashboard -> Hotels */

.hotel-container {
  text-align: center;
}

.hotel-listing {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.hotel-card {
  display: flex;
  border: 1px solid white;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  max-height: 12rem;
  max-width: 30rem;
  position: relative;

  &:hover {
    transform: scale(1.03);
  }
}

.hotel-image {
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hotel-details {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  h3 {
    margin-bottom: 10px;
  }

  p {
    margin: 0;
  }
}

.book-hotel {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  & a {
    color: black;
    text-decoration: none;
  }
  &:hover {
    background-color: #45a049;
  }
}
